In [ ]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Jason\Downloads\telco_churn.csv")

df.head(2)

tempdict = {"col1":[1,2,3], "col2":[4,5,6], "col3":[7,8,9]}
dictdf = pd.DataFrame.from_dict(tempdict)

dictdf.head()

df.tail()

df.columns

df.dtypes

#df.describe(include="object")

df['International plan']

df[['State', 'International plan']]

df.State.unique()

df.Churn.unique()

df[df["International plan"] == "No"]

df[(df["International plan"] == "No") & (df["Churn"] == False)]

df.iloc[14]

df.iloc[14,-1]

df.iloc[22:33]

state = df.copy()
state.set_index("State", inplace = True)

state.head()

state.loc["OH"]

df.isnull().sum()

df.dropna(inplace=True)

df.isnull().sum()

#df.drop("Area Code", axis=1)

df["New Column"] = df["Total night minutes"] + df["Total intl minutes"]

df.head()

df["New Column"] = 100

df.head()

df.iloc[0,-1] = 10

df.head()

df["Churn Binary"] = df["Churn"].apply(lambda x: 1 if x == True else 0)

df.head()

df.to_csv("output.csv")

df.to_json()

df.to_html()

del df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0